<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
      <add name="Proyecto_Tienda_PcComponentes.My.MySettings.pruebaBBDDConnectionString"
          connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\alex9\OneDrive\Documentos\Visual Studio 2015\Projects\PruebaBASEDEDatos\pruebaBBDD.mdb&quot;"
          providerName="System.Data.OleDb" />
      <add name="Proyecto_Tienda_PcComponentes.My.MySettings.Proyecto_TiendaConnectionString"
          connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog='Proyecto Tienda';Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="Proyecto_Tienda_PcComponentes.My.MySettings.Proyecto_Tienda_BBDD_AzureConnectionString"
          connectionString="Data Source=alejandroservidor.database.windows.net;Initial Catalog=&quot;Proyecto Tienda BBDD Azure&quot;;User ID=Alejandro;Password=Alesgonzalez1996"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>